@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body{

    background: linear-gradient(90deg,#23C4ED 0%, #5A20CB 100%  );
}
h1{
    text-align: center;
    font-family: "Montserrat";
    font-size: 40px;
    margin-top: 15%;
    color: #fafafa;
    letter-spacing: 2px;

}
span{
    font-weight: 800;
    font-size: 90px;
    color: rgba(164, 166, 252, 0.85);
}

p{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    color:burlywood;
}

button{
    margin: auto;
    display: block;
    margin-top: 70px;
    
}
.btn{
    background: transparent;
    color:#1f1f1f;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    padding: 1.2rem 2.3rem;
    letter-spacing: 1px;
    font-size: 20px;
    cursor:grab;
    font-weight: 800;
}
.btn:hover{
    color: #fff;
    outline: 0;
}
.lco{
    transition: box-shadow 600ms ease-in-out;

}
.lco:hover{
    box-shadow: 0 0 40px 40px #1f1f1f inset;

}
.footer{
    background: #1f1f1f;
    color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    text-align: center;
    bottom: 0;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    
}